<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Sort and Filter</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body { padding-top:50px; }
    </style>

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body>
<div class="container" ng-app="sortApp" ng-controller="mainController">
  
  <div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchWeapon }}</p>
  </div>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
			<!-- set the sortType in app.js to equal 'name' onClick -->
			<a href="#" ng-click="sortType = 'name'; sortReverse = false">
				Class 
				<!-- show a carrot down symbol if the sortType is set to be 'name' -->
				<span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
            </a>
        </td>
        <td>
			<a href="#" ng-click="sortType = 'weapon'; sortReverse = false">
				Weapon
				<span ng-show="sortType == 'weapon'" class="fa fa-caret-down"></span>
            </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'damage'; sortReverse = true">
				Damage
				<span ng-show="sortType == 'damage'" class="fa fa-caret-down"></span>
            </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="class in playerClasses | orderBy:sortType:sortReverse">
        <td>{{ class.name }}</td>
        <td>{{ class.weapon }}</td>
        <td>{{ class.damage }}</td>
      </tr>
    </tbody>
    
  </table>
  
</div>
</body>
</html>

